div[role="toolbar"] {
    height: fit-content !important;
}
.sapFDynamicPageTitleMainActionsHasContent {
    margin-top: 1rem !important;
}
.sapMDialogTitle {
    background-color: white !important;
}
.sapUiSizeCompact .sapMCb {
    line-height: 1rem !important;
}
.sapMLIBContent {
    position: relative !important;
}
.sapMObjLStatusDiv {
    position: absolute !important;
    top: calc(50% - 9px);
}
.sapMITBContent {
    padding: 0 !important;
}
.userMenuButtonClass>.sapMBtnInner {
    background: #C3751A !important;
    border-color: #C3751A !important;
    color: white !important;
}
.userMenuButtonClass .sapMBtnIcon {
    color: white !important;
}
.padding {
	padding: 6px;
}
*[data-otype="O"] .sapMLIBSelectS{
    display: none !important;
}
*[data-otype="P"] .sapMLIBSelectS{
    display: none !important;
}
.ZsapMInputBaseContentWrapperError {
    border: 2px solid #e00;
}
.margin0 {
    margin: 0 !important;
}
.padding2 {
    padding: 8px !important;
}