div[role="toolbar"] {
    height: fit-content !important;
}
.sapMLIBContent {
    position: relative !important;
}
.sapMObjLStatusDiv {
    position: absolute !important;
    top: calc(50% - 9px);
}
.boldTextColor1 span{
    color: var(--sapContent_Illustrative_Color1) !important;
    font-weight: 800 !important;
}
.boldTextColor2 span{
    color: var(--sapContent_Illustrative_Color3) !important;
    font-weight: 800 !important;
}
.boldTextColor3 span{
    color: var(--sapContent_Illustrative_Color5) !important;
    font-weight: 800 !important;
}
.boldTextColor4 span{
    color: var(--sapContent_Illustrative_Color9) !important;
    font-weight: 800 !important;
}
.boldTextColor5 span{
    color: var(--sapContent_Illustrative_Color11) !important;
    font-weight: 800 !important;
}
.boldTextColor6 span{
    color: var(--sapContent_Illustrative_Color17) !important;
    font-weight: 800 !important;
}
.fontWeight600 {
    font-weight: 600 !important;
}